<!-- wp:template-part {"slug":"main-header","theme":"fse-education-school","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-education-school/post-header-with-background"} /-->

<!-- wp:group {"tagName":"main","className":"main-page"} -->
<main class="wp-block-group main-page"><!-- wp:post-content {"className":"page-content","fontFamily":"Montserrat","layout":{"inherit":true,"contentSize":"80%","justifyContent":"center"}} /-->
  
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-columns","theme":"fse-education-school","tagName":"footer"} /-->