/**
 * @package     pass-addons
 * @author      productiveminds.com
 * @copyright   productiveminds.com
 */

:root {
    --cccccc: #cccccc;
    --dddddd: #dddddd;
    --eeeeee: #eeeeee;
    --white: #ffffff;
    --black: #000000;
    --blue: #0066CC;
    --lightblue: #bfdaef;
    --darkblue: #03c;
    --green: #30b309;
    --lightgreen: #c5ead6;
    --darkgreen: #003300;
    --orange: #dd4d06;
    --red: #c4130b;
    --brown: #600;
    --darkbrown: #300;
    --grey: #666;
    --lightgrey: #cdcdcd;
    --darkgrey: #36454F;
    --charcoal: #2a3b55;
    --yellow: #fff00b;
    --purple: #7906c8;
    --darkpurple: #4f0582;
    --gray: #666;
    --lightgray: #cdcdcd;
    --darkgray: #36454F;
    --indigo: #4B0082;
    --chocolate: #7B3F00;
    --aqua: #00FFFF;
    --maroon: #800000;
    --cream: #FFFDD0;
    --biege: #f5f5dc;
    --magnolia: #F8F4FF;
    --pink: #FFC0CB;
    --cyan: #00FFFF;
    --magenta: #FF00FF;
    --warning: #ff9966;
    --warningV2: #ffcc00;
    --success: #d7e7ea;
    --lightblueV2: #e9f2f4;
    --lighterblue: #e9f7fd;
    --lightgreyV2: #eef3f7;
    --lightergrey: #f9f9f9;
    --lightgreyalmostwhite: #fdfdfd;
    --f1f4fd: #f1f4fd;
    --lightgreen_bg: #EFF8F8;
    --lightblue_bg_and_border: #BFDAEF;
    --productive_admin_bg: #E2E6E8;
    --productive_admin_bg_v2: #F1F2F2;
    --productive_admin_link_blue: #116FF3;
    
    --dom                           : #0066CC;
    --dom-plus                      : #003275;
    --dom-minus                     : #E6F6FF;
    --accent-1                      : #A82800;
    --accent-2                      : #FDDAAB;
    --txt-1                         : #45567A;
    --txt-2                         : #111827;
    --neutral                       : #B3CAE9;
    --neutral-light                 : #f8f9f9;
    --dom-white                     : #FEFEFE;
    --dom-black                     : #13161d;
    
    --dom-assigned                  : var(--dom);
    --dom-plus-assigned             : var(--dom-plus);
    --dom-minus-assigned            : var(--dom-minus);
    --std-link                      : var(--dom);
    --std-link-hover                : var(--dom-plus);
    --dom-section-with-light-bg             : var(--dom-minus-assigned);
    --dom-section-with-dark-bg              : var(--dom-plus-assigned);

    --std-border-color              : var(--neutral);
    --shadow-color                  : var(--dom-black);
    --product-box-bg                : var(--neutral-light);
    --body-bg                       : var(--dom-white);
    
    --contact-page-section-bg       : var(--lightergrey);
    
    --form-element-font-color : var(--txt-1);
    --form-element-border-color: var(--std-border-color);
    --form-element-bg : var(--neutral-light);
    --form-header-element-bg : var(--dom-minus);
    --form-header-button-bg : var(--dom);
    
    --header-menu-font-color: var(--dom);
    --header-menu-font-color-hover: var(--dom-plus);
    --header-menu-in-navbar-font-color: var(--dom-minus);
    --header-menu-in-navbar-font-color-hover: var(--neutral-light);
    --header-menu-bar-bg: var(--dom);
    --header-menu-plus-bar-bg: var(--dom-plus);
    --footer-bg: var(--dom-plus);
    --copyright-bg: var(--dom);
    --footer-content-font-color: var(--dom-white);
    --footer-link-and-button-font-color: var(--dom-minus);
    --footer-link-and-button-font-color-hover: var(--neutral-light);
    
    --button-font-color: var(--dom-white);
    --accent-content-font-color: var(--dom-white);
    --accent-content-bg: var(--accent-1);
    --button-bg: var(--dom);
    --button-bg-hover: var(--dom-plus);
    
    --product-price : var(--accent-1);
    --product-price-old : var(--txt-1);
    --commerce-button-font-color: var(--button-font-color);
    --commerce-button-buy-bg: var(--button-bg);
    --commerce-button-buy-bg-hover: var(--button-bg-hover);
    --commerce-button-cart-bg: var(--dom-plus);
    --commerce-button-checkout-bg: var(--accent-1);
    
    --color-menu-header: var(--txt-1);
    --color-body : var(--txt-1);
    --color-heading : var(--txt-2);
    --color-svg-and-i : var(--txt-1);
    
    --linkedin: #0a66c2;
    --facebook: #1877F2;
    --youtube: #FF0000;
    --twitter: #1DA1F2;
    --twitter-x: #000000;
    --pinterest: #E60023;
    --instagram: #8a3ab9;
    --whatsapp: #128C7E;
    --email: var(--charcoal);
    --phone: var(--charcoal);
    --contact_form: var(--charcoal);
    --newsletter_form: var(--charcoal);
    --website: var(--charcoal);

    --fontWeight_300: 300;
    --fontWeight_400: 400;
    --fontWeight_500: 500;
    --fontWeight_600: 600;
    --fontWeight_700: 700;
    --fontWeight_800: 800;
    --fontWeight_900: 900;
    
    --box-shadow_menu_container: 0 2px 10px -7px var(--charcoal);
    --box-shadow_10: 0px 0px 10px -8px var(--charcoal);
    --box-shadow_10_light: 0px 0px 10px -10px var(--charcoal);
    --box-shadow_20: 0px 0px 20px -19px var(--charcoal);
    --box-shadow_25: 0px 0px 25px -24px var(--charcoal);
    --box-shadow_30: 0px 0px 30px -29px var(--charcoal);
    --box-shadow_35: 0px 0px 35px -34px var(--charcoal);
    --box-shadow_40: 0px 0px 40px -38px var(--charcoal);
    --margin_or_padding_spacing_xxl: 5.0rem;
    --margin_or_padding_spacing_xl: 4.0rem;
    --margin_or_padding_spacing_l: 3.5rem;
    --margin_or_padding_spacing_normal: 3.0rem;
    --margin_or_padding_spacing_normal_s: 2.5rem;
    --margin_or_padding_spacing_s: 2.0rem;
    --margin_or_padding_spacing_xs: 1.5rem;
    --margin_or_padding_spacing_xxs: 1.0rem;
    --margin_or_padding_spacing_xxxs: 0.7rem;
    --margin_or_padding_spacing_xxxxs: 0.5rem;
    --margin_or_padding_spacing_xxxxxs: 0.3rem;
    --margin_or_padding_spacing_xxxxxxs: 0.2rem;
    --margin_or_padding_spacing_xxxxxxxs: 0.1rem;
    
    --fs-xl: 1.2rem;
    --fs-l: 1.1rem;
    --fs-normal: 1.0rem;
    --fs-s: 0.925rem;
    --fs-xs: 0.875rem;
    
    --lh-one: 1;
    --lh-small: 1.2;
    --lh-medium: 1.4;
    --lh-standard: 1.6;
    --lh-large: 1.9;
    
    --fw-heading: var(--fontWeight_400);
    --fw-hero-title: var(--fontWeight_700);
    --f-style-heading: normal;
    --lh-heading: var(--lh-medium);
    --tt-heading: none;
    --td-heading: none;
    
    --fw-header-menu: 400;
    --f-style-header-menu: var(--fs-s);
    --lh-header-menu: var(--lh-one);
    --tt-header-menu: none;
    --td-header-menu: none;
    
    --fw-body: 400;
    --f-style-body: normal;
    --lh-body: var(--lh-standard);
    --tt-body: none;
    --td-body: none;
    
    --siteMaxWidth : 1280px;
    --siteMaxWidth_Narrow : 1000px;
    --siteMaxWidth_Thin : 800px;
    --siteMaxWidth_Mini : 660px;
    --siteMaxWidth_Micro : 480px;
    
    --raw-side-space: calc( 100vw - var(--siteMaxWidth) );
    --side-space: clamp(0px, var(--raw-side-space), 500px);
    --half-of-side-space: calc( var(--side-space) / 2 );
    --third-of-side-space: calc( var(--side-space) / 3 );
    --fourth-of-side-space: calc( var(--side-space) / 4 );
    
    --siteMaxWidth_Wide : calc( var(--siteMaxWidth) + var(--half-of-side-space) );
    --siteMaxWidth_Extended : 98%;
    --siteMaxWidth_100pc : 100%;
    
    --productive-otg-base-font-scale: 0.75rem;
}

.productiveminds-alignable-container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: grid;
    gap: 0;
    row-gap: 0;
    column-gap: 0;
    place-items: normal;
    place-content: normal;
    grid-template-columns: repeat(1, 1fr);
}
.productiveminds-alignable-container.to_two {
    grid-template-columns: repeat(2, 1fr);
}
.productiveminds-alignable-container.to_three {
    grid-template-columns: repeat(3, 1fr);
}
.productiveminds-alignable-container.to_four {
    grid-template-columns: repeat(4, 1fr);
}
.editor-styles-wrapper a.productiveminds-alignable-container {
    display: grid;
}
.editor-styles-wrapper a.productiveminds-alignable-container.flexed,
.editor-styles-wrapper a.productiveminds-alignable-container.flexed-no-wrap,
.editor-styles-wrapper a.productiveminds-alignable-container.flexed-inlined {
    display: flex;
}
.productiveminds-alignable-container .productiveminds-alignable-container_uno {
    width: 100%;
    max-width: 100%;
}
.productiveminds-alignable-container .productiveminds-alignable-container_uno.width-autoed {
    width: auto;
}
.productive-global-options-page-wrapper {
    margin: 0;
    padding: 0;
    font-weight: 400;
    margin-left: -20px;
    font-size: 0.92rem;
    line-height: 1.6;
    color: var(--darkgrey);
    background: var(--productive_admin_bg_v2);
}
.productive-global-options-page-wrapper h2 {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
}
.productive-global-options-page-wrapper h2.margin-one {
    margin: 1rem 0;
}
.productive-global-options-page-wrapper h2.margin-zero {
    margin: 0;
}
.productive-global-options-page-wrapper h3 {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.2rem;
}
.productive-global-options-page-wrapper form td h3 {
    margin: 2rem 0 0;
    text-decoration: underline;
    text-transform: uppercase;
}
.productive-global-options-page-wrapper h4 {
    margin: 0.5rem 0 1.5rem;
    font-size: 1.0rem;
}
.productive-global-options-page-wrapper h4.sub-heading {
    margin: -1rem 0 1.5rem;
}
.productive-global-options-page-wrapper ul {
    margin: 0;
}
.productive-global-options-page-wrapper .nav-subtab {
    font-weight: 600;
    text-decoration: underline;
}
.productive-global-options-page-wrapper .nav-subtab-active {
    color: var(--black);
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.productive-global-options-page-wrapper .nav-subtab,
.productive-global-options-page-wrapper .nav-subtab-active {
    display: inline-block;
    margin: 0rem 0.5rem 0.5rem;
}
.productive-global-options-page-wrapper .nav-subtab.leftmost,
.productive-global-options-page-wrapper .nav-subtab-active.leftmost {
    margin-left: 0;
}
.productive-global-options-page-wrapper .nav-subtab.rightmost,
.productive-global-options-page-wrapper .nav-subtab-active.rightmost {
    margin-right: 0;
}
.productive-global-options-page-wrapper .page-wrapper-heading {
    padding: 0.5rem 2rem;
    color: var(--white);
    background: #4B0082;
    background: linear-gradient(20deg, #047ac6 0%, #7B0474 100%);
    background: linear-gradient(20deg, #047ac6 20%, #4B0082 80%);
    color: var(--darkgrey);
    background: var(--white);
}
.productive-global-options-page-wrapper .page-wrapper-heading h1 {
    padding: 0.1rem 0;
}
.productive-global-options-page-wrapper .page-wrapper-heading-version {
    text-align: right;
    padding: 0.1rem 1rem;
    font-size: 0.8rem;
}
.productive-global-options-page-wrapper img.admin-page-heading-icon {
    height: auto;
    width: 40px;
    max-width: 40px;
    margin: auto 10px auto 0;
    border-radius: 2px;
    vertical-align: middle;
}
.productive-global-options-page-wrapper .page-wrapper-body {
    margin: 0;
    min-height: 700px;
    padding: 2rem;
}
.productive-global-options-page-wrapper .page-wrapper-body .page-wrapper-body-form {
    margin: 0;
    padding: 1.5rem 0 2rem;
    background: transparent;
}
.productive-global-options-page-wrapper .page-wrapper-body .page-wrapper-body-form .col-ap {
    float: none;
}
.productive-global-options-page-wrapper .page-wrapper-body .page-wrapper-body-form .form-table td {
    vertical-align: baseline;
}
.productive-global-options-page-wrapper .page-wrapper-body .page-wrapper-body-form .form-table td .wp-picker-container.wp-picker-active {
    position: absolute;
}
.productive-global-options-page-wrapper .productive-global-table-attr-delete-confirmation a {

}
.productive-global-options-page-wrapper .productive-global-table-attr-delete-confirmation a:hover {
    color: var(--black);
}
.productive-global-options-page-wrapper .productive-global-table-attr-delete-confirmation .productive-global-table-attr-delete-no {
    color: var(--greened);
}
.productive-global-options-page-wrapper .productive-global-table-attr-delete-confirmation .productive-global-table-attr-delete-yes {
    color: var(--red);
}
.productive-global-options-page-wrapper .productive-global-table-attr-delete-confirmation .productive-global-table-attr-delete-error {
    color: var(--darkgrey);
}
.productive-global-get-pro-media-container {

}
.productive-global-options-page-wrapper a {
    color: var(--productive_admin_link_blue);
    border: none;
    border-radius: 0;
    font-size: 0.92rem;
    text-decoration: none;
    background: transparent;
}
.productive-global-options-page-wrapper a:hover {
    color: var(--darkgrey);
}
.productive-global-options-page-wrapper a.standard-link {
    color: var(--productive_admin_link_blue);
    font-weight: 500;
    text-decoration: none;
}
.productive-global-options-page-wrapper a.standard-link:hover {
    color: var(--darkgrey);
}
.productive-global-options-page-wrapper a.pro-notice {
    position: absolute;
    top: 1px;
    left: 1px;
    right: auto;
    padding: 5px;
    color: var(--body-bg);
    background: var(--charcoal);
    opacity: 0.95;
}
.productive-global-options-page-wrapper a.pro-notice.limited {
    background: var(--twitter);
}
.productive-global-options-page-wrapper a.pro-notice.small-text {
    font-size: 11px;
}
.productive-global-options-page-wrapper a.pro-notice:hover {
    color: var(--body-bg);
    background: var(--dom-assigned);
}
.productive-global-options-page-wrapper a.pro-notice.rounded-corner {
    border-radius: 5px;
}
.productive-global-options-page-wrapper a.pro-notice.ellipsed {
    border-radius: 25px;
}
.productive-global-options-page-wrapper a.pro-notice.ovalled {
    border-radius: 50%;
}
.productive-global-options-page-wrapper a.pro-notice.lefted {
    left: 1px;
}
.productive-global-options-page-wrapper a.pro-notice.righted {
    left: auto;
    right: 1px;
}
.productive-global-options-page-wrapper a.pro-notice.left-anchored {
    top: -3px;
    left: -3px;
    right: auto;
    border-radius: 0 0 10px 0px;
    padding: 7px 7px 3px 7px;
}
.productive-global-options-page-wrapper a.pro-notice.right-anchored {
    top: -3px;
    left: auto;
    right: -3px;
    border-radius: 5px 0 0px 10px;
    padding: 7px 7px 3px 7px;
}
.templates-counter,
.productive-global-options-page-wrapper a.templates-counter {
    padding: 2px;
    width: 100%;
    max-width: 25px;
    color: var(--blue);
    border-radius: 50%;
    background: var(--lighterblue);
}
.templates-counter:hover,
.productive-global-options-page-wrapper a.templates-counter:hover {
    color: var(--darkgreen);
    background: var(--lightgreen);
}
.productive-global-options-page-wrapper .page-wrapper-body-get-pro {
    margin: 1.5rem auto 0;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    display: inline-block;
    font-size: 0.92rem;
    text-decoration: none;
    color: var(--white);
    background: var(--darkgrey);
}
.productive-global-options-page-wrapper .page-wrapper-body-get-pro {
    padding: 0.7rem 2rem;
    color: var(--white);
    background: var(--green);
    border: 1px solid transparent;
}
.productive-global-options-page-wrapper .page-wrapper-body-get-pro:hover {
    color: var(--darkgrey);
    background: var(--white);
    border: 1px solid var(--darkgrey);
}
.productive-global-options-page-wrapper .nav-tab {
    font-size: 0.84rem;
    padding: 0.6rem 1.5rem;
    color: var(--white);
    background: var(--darkgrey);
    border-radius: 5px 5px 0 0;
    margin: 0.2rem 0.3rem 0.1rem 0.3rem;
    border-bottom: 1px solid transparent;
}
.productive-global-options-page-wrapper .nav-tab:hover {
    color: var(--txt-2);
    background: var(--white);
    margin: 0.2rem 0.3rem 0.1rem 0.3rem;
    border-bottom: 1px solid transparent;
}
.productive-global-options-page-wrapper .nav-tab-active,
.productive-global-options-page-wrapper .nav-tab-active:focus,
.productive-global-options-page-wrapper .nav-tab-active:focus:active,
.productive-global-options-page-wrapper .nav-tab-active:hover {
    color: var(--txt-2);
    background: var(--white);
    margin: 0.2rem 0.3rem 0.1rem 0.3rem;
    border-bottom: 1px solid transparent;
}
.productive-global-options-page-wrapper .boxed-field {
    width: 100%;
    max-width: 700px;
}
.page-wrapper-heading-get-pro {
    margin: 3rem auto;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    display: inline-block;
    font-size: 0.92rem;
    text-decoration: none;
    color: var(--white);
    background: var(--darkgrey);
}
.page-wrapper-heading-get-pro {
    color: var(--productive_admin_link_blue);
    font-weight: 500;
    margin: auto auto auto 1rem;
    background: transparent;
}
.page-wrapper-heading-get-pro.margin-zero {
    margin: 0;
    padding: 0.5rem 0.7rem;
}
.page-wrapper-heading-get-pro.margin-zero:hover {
    margin: 0;
}
.page-wrapper-heading-get-pro:hover {
    color: var(--darkgrey);
    background: transparent;
}
.productive-global-item-container,
.productive-global-admin-content-container {
    margin: 0 0 1.5rem;
    padding: 1rem 1.5rem 2rem;
    background: var(--white);
    border-radius: 10px;
}
.productive-global-item-container.padding-one,
.productive-global-admin-content-container.padding-one {
    padding: 1rem 1rem;
}
.productive-global-item-container.padding-zero,
.productive-global-admin-content-container.padding-zero {
    padding: 0;
}
.productive-global-item-container.transparent_bg,
.productive-global-admin-content-container.transparent_bg {
    background: transparent;
}
.productive-global-admin-content-container.thick {
    padding: 2rem 2.5rem 4rem;
}
.productive-global-admin-content-container .small-heading {
    font-size: 0.9rem;
    font-weight: 500;
}
.productive-global-admin-content-container .small-text {
    font-size: 0.8rem;
}
.productive-global-admin-content-container .productiveminds_double_grid.free-vs-pro-admin .section-intro {
    margin: 1rem 0;
}
.productive-global-item-container .item-box,
.productive-global-admin-content-container .get-pro {
    margin: 0 0 2rem;
}
.productive-global-admin-content-container ul.get-pro-features-box-list {
    margin: 0 1rem 0 1rem;
    list-style: disc;
}
.productive-global-admin-content-container ul.get-pro-features-box-list ol { /* for an itemised list inside a ul list */
    margin: 1rem;
}
.productive-global-admin-content-container ul.get-pro-features-box-list li {
    margin: 0 0 0.5rem;
}
.productive-global-admin-content-container .get-pro-features-box-screenshots img {
    margin: 0 0 2rem;
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.productive-global-admin-content-container .get-pro-features-box-list div {
    margin: 0rem 0 1rem;
    margin: 0;
}
.productive-global-admin-content-container div.options-section-container-top,
.productive-global-admin-content-container .options-section-container-top {
    margin: 0;
}
.productive-global-admin-content-container div.options-section-container,
.productive-global-admin-content-container .options-section-container {
    margin: 4rem 0 1rem;
}
.productive-global-admin-content-container .get-pro-features-box-list.dense div {
    margin: 0;
}
.productive-global-admin-content-container .get-pro-features-box-list div:last-child {
    margin: 0;
}
.productive-global-admin-content-container .get-pro-features-box-list div.items-in-rows {
    margin: 0;
    padding: 1rem 0;
    border-top: 1px solid var(--productive_admin_bg);
    border-bottom: 1px solid var(--productive_admin_bg);
}
.productive-global-admin-content-container .get-pro-features-box-list div.items-in-rows:last-child {
    margin: 0;
}
.productive-global-block-link-container a {
    display: block;
    padding: 0.5rem 0 0;
}
.leave-a-review-box {
    color: var(--black);
    font-weight: 500;
    margin: 1rem 0;
    padding: 1rem;
    background: var(--lightblue);
}
.leave-a-review-box a {
    color: var(--blue);
    font-weight: 600;
}
.productive-global-item-container .item-heading {
    margin: 1rem 0;
    font-weight: 600;
}
.productive-global-item-container .item-sub-heading {
    margin: 0.5rem 0;
    font-weight: 500;
}
.productive-global-item-container .item-body {
    margin: 1rem 0 2rem;
}
.productive-global-item-container .item-body-highlight {
    font-weight: 600;
    color: var(--black);
    padding: 0.5rem;
    background: var(--lightblue);
    border-radius: 0.3rem;
}
.productive-global-item-container .item-extras {
    margin: 0.5rem 0;
}
.productive-global-options-page-wrapper label {
    margin-right: 2rem;
}
.productive-global-options-page-wrapper label.no-right-margin {
    margin-right: 0;
}
.productive-global-options-page-wrapper .info-content,
.productive-global-options-page-wrapper .warning-content {
    color: var(--black);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.3rem;
    background: var(--lightergrey);
}
.productive-global-options-page-wrapper .warning-before-action-box {
    color: var(--darkgreened);
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    font-weight: 500;
}
.productive-global-options-page-wrapper .list-to-indent {
    margin-left: 2rem;
}
.productive-global-options-page-wrapper .list-to-indent li {
    list-style: disc;
}

.productive-global-options-page-wrapper .info-is-loading-container-outer {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    position: relative;
}
.productive-global-options-page-wrapper .info-is-loading-container {
    margin: 0;
    padding: 0;
    color: var(--black);
    min-height: 5rem;
    position: relative;
    border-radius: 0.3rem;
    background: var(--lightergrey);
}
.productive-global-options-page-wrapper .info-is-loading-container #is_loading_error_msg,
.productive-global-options-page-wrapper .info-is-loading-container #is_loading_success_msg,
.productive-global-options-page-wrapper .info-is-loading-container #is_loading_info_msg {
    left: 20px;
    top: calc(50% - 12px);
    margin: 0;
    position: absolute;
}
.leave-a-review-box {
    color: var(--black);
    font-weight: 500;
    margin: 1rem 0;
    padding: 1rem;
    background: var(--lightblue);
}
.leave-a-review-box a {
    color: var(--blue);
    font-weight: 600;
}
.productive-global-options-page-wrapper .info-is-loading-container .demoimporter-content-overlay {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.3rem;
    background: rgba(0, 0, 0, 0.05);
}
.productive-global-options-page-wrapper .info-is-loading-container .demoimporter-content-overlay .transformer-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.productive-global-options-page-wrapper .info-is-loading-container .demoimporter-content-overlay .transformer-container .transformer {
    margin: auto;
    width: 2rem;
    height: 2rem;
    left: calc(50% - 1.4rem);
    top: calc(50% - 1.4rem);
    position: absolute;
    border: 0.5rem solid var(--blue);
    border-radius: 50%;
    border-top: 0.5rem solid var(--yellow);
    animation: isTransaction 0.5s linear infinite;
}
@keyframes isTransaction {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.productive_video_player_admin_yt_container {
    line-height: 1;
}
.productive_video_player_admin_yt {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 16 / 9;
}
.productiveminds_section-container {
    padding: 0;
    width: 100%;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    display: grid;
    transition: all 0.4s;
}
.productiveminds_section *,
.productiveminds_section-container * {
    box-sizing: border-box;
}
.productiveminds_section-container.closeup {
    row-gap: 1rem;
    column-gap: 1rem;
}
.productiveminds_section-container.columns-8 {
    grid-template-columns: repeat(8, 1fr);
}
.productiveminds_section-container.columns-7 {
    grid-template-columns: repeat(7, 1fr);
}
.productiveminds_section-container.columns-6 {
    grid-template-columns: repeat(6, 1fr);
}
.productiveminds_section-container.columns-5 {
    grid-template-columns: repeat(5, 1fr);
}
.productiveminds_section-container.columns-4 {
    grid-template-columns: repeat(4, 1fr);
}
.productiveminds_section-container.columns-3 {
    grid-template-columns: repeat(3, 1fr);
}
.productiveminds_section-container.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}
.productiveminds_section-container.columns-1 {
    grid-template-columns: repeat(1, 1fr);
}
.productiveminds_section-container.columns_left_icon-50px {
    grid-template-columns: 50px auto;
}
.productiveminds_section-container-column,
.productiveminds_section-container-column-content {
    overflow: hidden;
}
.productiveminds_section-container-column-content {
    width: auto;
    margin: 0;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.productiveminds_section-container-column-content-body {
    padding: 0rem;
    position: relative;
}
.box_shadowed_5 {
    box-shadow: 0px 0px 5px -1px var(--lightgrey);
}
.box_shadowed_10 {
    box-shadow: 0px 0px 10px -2px var(--lightgrey);
}
.box_shadowed_15 {
    box-shadow: 0px 0px 15px -3px var(--lightgrey);
}
.margined_0_point_3_rem {
    margin: 0.3rem;
}
.margined_0_point_5_rem {
    margin: 0.5rem;
}
.margined_1_rem {
    margin: 1rem;
}
.padding_0_point_5_rem {
    padding: 0.5rem;
}
.padding_1_rem {
    padding: 1rem;
}
.bordered_as_bg {
    border: 1px solid var(--productive_admin_bg);
}
/* Double Grid System */
.productiveminds_double_grid {
    margin: 0;
    padding: 0;
    width: 100%;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    display: grid;
    transition: all 0.4s;
}
.productiveminds_double_grid.free-vs-pro-admin {
    column-gap: 3.0rem;
}
.productiveminds_double_grid.column_100 {
    grid-template-columns: 1fr;
}
.productiveminds_double_grid.column_90_10 {
    grid-template-columns: 9fr 1fr;
}
.productiveminds_double_grid.column_85_15 {
    grid-template-columns: 85fr 15fr;
}
.productiveminds_double_grid.column_80_20 {
    grid-template-columns: 8fr 2fr;
}
.productiveminds_double_grid.column_75_25 {
    grid-template-columns: 75fr 25fr;
}
.productiveminds_double_grid.column_70_30 {
    grid-template-columns: 7fr 3fr;
}
.productiveminds_double_grid.column_65_35 {
    grid-template-columns: 65fr 35fr;
}
.productiveminds_double_grid.column_60_40 {
    grid-template-columns: 6fr 4fr;
}
.productiveminds_double_grid.column_55_45 {
    grid-template-columns: 55fr 45fr;
}
.productiveminds_double_grid.column_50_50 {
    grid-template-columns: 1fr 1fr;
}
.productiveminds_double_grid.column_45_55 {
    grid-template-columns: 45fr 55fr;
}
.productiveminds_double_grid.column_40_60 {
    grid-template-columns: 4fr 6fr;
}
.productiveminds_double_grid.column_35_65 {
    grid-template-columns: 35fr 65fr;
}
.productiveminds_double_grid.column_30_70 {
    grid-template-columns: 3fr 7fr;
}
.productiveminds_double_grid.column_25_75 {
    grid-template-columns: 25fr 75fr;
}
.productiveminds_double_grid.column_20_80 {
    grid-template-columns: 2fr 8fr;
}
.productiveminds_double_grid.column_15_85 {
    grid-template-columns: 15fr 85fr;
}
.productiveminds_double_grid.column_10_90 {
    grid-template-columns: 1fr 9fr;
}
.productiveminds_double_grid_content {
    width: auto;
    margin: 0;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

/********* start: toggle checkbox *************/
.toggle_container_parent {
    cursor: pointer;
}
.toggle_container {
    --checkbox-toggle-dimesion-unit-w: 14px;
    --checkbox-toggle-translate-dimension: calc( var(--checkbox-toggle-dimesion-unit-w) );
}
label.toggle_container {
    position: relative;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: calc( (var(--checkbox-toggle-dimesion-unit-w) * 2.5) + 10px );
    height: calc( var(--checkbox-toggle-dimesion-unit-w) + 10px );
}
label.toggle_container.narrow {
    width: calc( (var(--checkbox-toggle-dimesion-unit-w) * 2) + 10px );
}
label.toggle_container.wide {
    width: calc( (var(--checkbox-toggle-dimesion-unit-w) * 3) + 10px );
}
label.toggle_container input[type="checkbox"] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
label.toggle_container span.toggle {
    background: var(--lightgray);
}
label.toggle_container span.toggle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    -webkit-transition: 0.5s ease;
    -webkit-transition-delay: 0.1s;
    background: var(--neutral);
}
label.toggle_container:hover span.toggle {
    box-shadow: var(--box-shadow_10);
}
label.toggle_container input[type="checkbox"]:checked ~ span.toggle {
    background: var(--dom-assigned);
}
label.toggle_container span.toggle:before {
    position: absolute;
    left: 5px;
    top: 5px;
    width: var(--checkbox-toggle-dimesion-unit-w);
    height: var(--checkbox-toggle-dimesion-unit-w);
    content: "";
    transition: all 0.5s ease;
    transition-delay: 0.1s;
    -webkit-transition: 0.5s ease;
    -webkit-transition-delay: 0.1s;
    background: var(--body-bg);
}
label.toggle_container input[type="checkbox"]:checked ~ span.toggle:before {
    transform: translateX( calc( var(--checkbox-toggle-translate-dimension) * 1.5 ) );
    -ms-transform: translateX( calc( var(--checkbox-toggle-translate-dimension) * 1.5 ) );
    -webkit-transform: translateX( calc( var(--checkbox-toggle-translate-dimension) * 1.5 ) );
    background: var(--body-bg);
}
label.toggle_container.narrow input[type="checkbox"]:checked ~ span.toggle:before {
    transform: translateX(var(--checkbox-toggle-translate-dimension));
    -ms-transform: translateX(var(--checkbox-toggle-translate-dimension));
    -webkit-transform: translateX(var(--checkbox-toggle-translate-dimension));
}
label.toggle_container.wide input[type="checkbox"]:checked ~ span.toggle:before {
    transform: translateX( calc( var(--checkbox-toggle-translate-dimension) * 2 ) );
    -ms-transform: translateX( calc( var(--checkbox-toggle-translate-dimension) * 2 ) );
    -webkit-transform: translateX( calc( var(--checkbox-toggle-translate-dimension) * 2 ) );
}
label.toggle_container.rounded-corner span.toggle {
    border-radius: 5px;
}
label.toggle_container.rounded-corner span.toggle:before {
    border-radius: 3px;
}
label.toggle_container.ellipsed span.toggle {
    border-radius: 25px;
}
label.toggle_container.ellipsed span.toggle:before {
    border-radius: 25px;
}
label.toggle_container.ovalled span.toggle {
    border-radius: 50%;
}
label.toggle_container.ovalled span.toggle:before {
    border-radius: 50%;
}

label.toggle_container.themed span.toggle {
    background: var(--dom-minus-assigned);
}
label.toggle_container.themed span.toggle:before {
    background: var(--dom-assigned);
}
.the_content_admin_container {
    background: var(--white);
}
.the_content_admin_media_container {
    height: 100%; 
    max-height: 400px; 
    overflow: hidden;
    position: relative;
}
a.productive_admin_anchor_button {
    padding: 5px 15px;
    color: var(--white); 
    font-size: var(--fs-xs);
    text-align: center;
    display: inline-block;
    box-shadow: var(--box-shadow_20);
    border-radius: 25px;
    background: var(--dom-assigned);
    transition: all 0.3s ease;
    transition-delay: 0.01s;
    -webkit-transition: 0.3s ease;
    -webkit-transition-delay: 0.01s;
}
a.productive_admin_anchor_button.pale_bg_button {
    color: var(--dom-plus-assigned);
    background: var(--lighterblue);
}
a.productive_admin_anchor_button.dark_bg_button,
a.productive_admin_anchor_button.pale_bg_button.dark_bg_button {
    color: var(--lighterblue);
    background: var(--dom-plus-assigned);
}
a.productive_admin_anchor_button.warning_bg_button {
    background: var(--lightblue);
}
a.productive_admin_anchor_button.not_clickable {
    cursor: default;
    pointer-events: none;
    color: var(--grey);
    background: var(--lightgreyV2);
}
a.productive_admin_anchor_button:hover {
    color: var(--white);
    background: var(--green);
}
.productiveminds_admin_notification_container {
    max-width: 400px;
    box-shadow: var(--box-shadow_30);
}
.productiveminds_admin_notification_container.display_in_top_left,
.productiveminds_admin_notification_container.display_in_top_right,
.productiveminds_admin_notification_container.display_in_bottom_left,
.productiveminds_admin_notification_container.display_in_bottom_right {
    position: fixed;
    z-index: 99999;
}
.productiveminds_admin_notification_container.display_in_top_left {
    top: 50px; 
    left: 50px;
}
.productiveminds_admin_notification_container.display_in_top_right {
    top: 50px; 
    right: 50px;
}
.productiveminds_admin_notification_container.display_in_bottom_left {
    bottom: 50px; 
    left: 50px;
}
.productiveminds_admin_notification_container.display_in_bottom_right {
    bottom: 50px; 
    right: 50px;
}
.productiveminds_admin_notification_container .productiveminds_admin_info_box {
    padding: 20px;
    color: var(--white);
    font-size: var(--fs-normal);
    font-weight: var(--fontWeight_500);
    background: var(--charcoal);
    border: 1px solid var(--lightblue_bg_and_border);
    border-left-width: 25px !important;
    border-radius: 10px;
    line-height: 1.7;
}
.productiveminds_admin_notification_container .productiveminds_admin_info_box a {
    color: var(--white);
}
.productiveminds_admin_notification_container .productiveminds_admin_info_box a:hover {
    color: var(--lightgrey);
}
.productive_action_box_container {
    padding: 15px;
    border-radius: 5px;
    background: var(--lightergrey); 
    border: 1px solid var(--lightblue_bg_and_border);
}
.the_action_confirmation_message {
    display: none;
    margin: 1rem 0;
    padding: 0.5rem 0;
    color: var(--charcoal);
    transition: all 1s;
}
.productiveminds-transformer-overlay {
    margin: 0rem;
    padding: 0rem;
    display: inline-block;
    background: rgba(0, 0, 0, 0.00);
}
.productiveminds-transformer-overlay .transformer-container {
    position: relative;
    display: inline-block;
}
.productiveminds-transformer-overlay .transformer-container .transformer {
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 0.3rem solid var(--yellow);
    border-radius: 50%;
    border-top: 0.3rem solid var(--red);
    animation: isTransaction 1s linear infinite;
}
@keyframes isTransaction {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.productive-popup-close-button {
    border: none;
    outline: none;
    cursor: pointer;
    top: 0.2rem;
    padding: 5px;
    z-index: 10;
    opacity: 0.8;
    display: inline-block;
    position: absolute;
    background: var(--lightblueV2);
    background-color: var(--lightblueV2);
}
.productive-popup-close-button, .productive-popup-close-button * {
    line-height: 0;
}
.productive-popup-close-button:hover {
    opacity: 1;
    background: var(--lightergrey);
    background-color: var(--lightergrey);
}
.productive-popup-close-button.left {
    left: 0.2rem;
}
.productive-popup-close-button.right {
    right: 0.2rem;
}

/* Start:: Free vs Pro */
.productiveminds_section-container-free-vs-pro {
    padding: 0;
    width: 100%;
    row-gap: 2px;
    column-gap: 2px;
    display: grid;
    transition: all 0.4s;
    grid-template-columns: auto 80px 80px;
}
.product_free_vs_pro_container {
    margin: 0;
    padding: 0;
}
.product_free_vs_pro_container_is_testing {
    padding: 2rem;
    background: var(--lightblue);
}
.product_free_vs_pro_header,
.product_free_vs_pro_header.toggle_symbol_container_css_class {
    padding: 1.5rem 1rem;
    margin: 2rem 0 1px;
    font-weight: 500;
    background: var(--lightgreen_bg);
    border: 1px solid var(--lightblue_bg_and_border);
}
.free-or-pro {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--black);
    padding: 1rem 0;
    padding: 0;
}
.free-or-pro .tabled-container {
    margin: 0;
    padding: 1px;
    width: 100%;
    max-width: 100%;
    border-spacing: 5px;
    background: var(--lightblue_bg_and_border);
}
.free-or-pro .free-or-pro-header,
.free-or-pro .free-or-pro-body {
    padding: 0.8rem 1rem;
    background: var(--white);
}
.free-or-pro .free-or-pro-name {
    text-align: left;
    width: auto;
}
.free-or-pro .free-or-pro-header {
    font-size: 1.0rem;
    font-weight: 600;
}
.free-or-pro-body.free-or-pro-name {
    font-weight: 300;
    font-size: 1.0rem;
    text-align: left;
    word-break: break-word;
}
.free-or-pro-body.free-or-pro-value.free,
.free-or-pro-body.free-or-pro-value.pro {
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}
.free-or-pro-body.free-or-pro-value.free i,
.free-or-pro-body.free-or-pro-value.pro i {
    font-size: 1.5rem;
}
/* End:: Free vs Pro */

/* Desktops */
@media (max-width: 1280px) {
    .productiveminds_section-container.columns-8,
    .productiveminds_section-container.columns-7,
    .productiveminds_section-container.columns-6 {
        grid-template-columns: repeat(5, 1fr);
    }
    .productive-global-options-page-wrapper .nav-tab,
    .productive-global-options-page-wrapper .nav-tab:hover,
    .productive-global-options-page-wrapper .nav-tab-active,
    .productive-global-options-page-wrapper .nav-tab-active:focus,
    .productive-global-options-page-wrapper .nav-tab-active:focus:active,
    .productive-global-options-page-wrapper .nav-tab-active:hover {
        margin: 0.2rem 0.3rem 0.1rem 0.3rem;
        border-bottom: 1px solid transparent;
    }
}
/* Tablets / Laptops */
@media (max-width: 1100px) {
    .productiveminds_section-container.columns-8,
    .productiveminds_section-container.columns-7,
    .productiveminds_section-container.columns-6,
    .productiveminds_section-container.columns-5 {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* Small Tablet */
@media (max-width: 900px) {
    .productiveminds_section-container.columns-8,
    .productiveminds_section-container.columns-7,
    .productiveminds_section-container.columns-6,
    .productiveminds_section-container.columns-5,
    .productiveminds_section-container.columns-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 782px) {
    .productive-global-options-page-wrapper {
        margin-left: -10px;
    }
    .productiveminds_section-container.to_two.columns-8,
    .productiveminds_section-container.to_two.columns-7,
    .productiveminds_section-container.to_two.columns-6,
    .productiveminds_section-container.to_two.columns-5,
    .productiveminds_section-container.to_two.columns-4,
    .productiveminds_section-container.to_two.columns-3,
    .productiveminds_section-container.to_one.columns-8,
    .productiveminds_section-container.to_one.columns-7,
    .productiveminds_section-container.to_one.columns-6,
    .productiveminds_section-container.to_one.columns-5,
    .productiveminds_section-container.to_one.columns-4,
    .productiveminds_section-container.to_one.columns-3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .productiveminds_double_grid,
    .productiveminds_double_grid.column_100,
    .productiveminds_double_grid.column_90_10,
    .productiveminds_double_grid.column_85_15,
    .productiveminds_double_grid.column_80_20,
    .productiveminds_double_grid.column_75_25,
    .productiveminds_double_grid.column_70_30,
    .productiveminds_double_grid.column_65_35,
    .productiveminds_double_grid.column_60_40,
    .productiveminds_double_grid.column_55_45,
    .productiveminds_double_grid.column_50_50,
    .productiveminds_double_grid.column_45_55,
    .productiveminds_double_grid.column_40_60,
    .productiveminds_double_grid.column_35_65,
    .productiveminds_double_grid.column_30_70,
    .productiveminds_double_grid.column_25_75,
    .productiveminds_double_grid.column_20_80,
    .productiveminds_double_grid.column_15_85,
    .productiveminds_double_grid.column_10_90 {
        grid-template-columns: 1fr;
    }
}
/* Large Mobiles only */
@media (max-width: 768px) {
}
@media (max-width: 600px) {
    .productive-global-options-page-wrapper .nav-tab,
    .productive-global-options-page-wrapper .nav-tab:hover,
    .productive-global-options-page-wrapper .nav-tab-active,
    .productive-global-options-page-wrapper .nav-tab-active:focus,
    .productive-global-options-page-wrapper .nav-tab-active:focus:active,
    .productive-global-options-page-wrapper .nav-tab-active:hover {
        margin: 0.2rem 0.3rem 0.1rem 0.3rem;
        border-bottom: 1px solid transparent;
    }
    .productiveminds_section-container.to_one.columns-8,
    .productiveminds_section-container.to_one.columns-7,
    .productiveminds_section-container.to_one.columns-6,
    .productiveminds_section-container.to_one.columns-5,
    .productiveminds_section-container.to_one.columns-4,
    .productiveminds_section-container.to_one.columns-3,
    .productiveminds_section-container.to_one.columns-2 {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 480px) {
}
.auto_mid_and_centered {
    margin: auto;
    text-align: center;
}
.text_transform_uppercased {
    text-transform: uppercase;
}
.text_transform_capitalized {
    text-transform: capitalize;
}
.text_transform_lowercased {
    text-transform: lowercase;
}
.buttoned {
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}
.bolded_500 {
    font-weight: var(--fontWeight_500);
}
.bolded {
    font-weight: var(--fontWeight_600);
}
.lefted {
    text-align: left;
}
.righted {
    text-align: right;
}
.justified {
    text-align: justify;
}
.centered {
    text-align: center;
}
.v-middle {
    vertical-align: middle;
}
.relatived {
    position: relative;
}
.absoluted {
    position: absolute;
}
.absoluted_bigscreen {
    position: absolute;
}
.bottomed {
    bottom: 0;
}
.rounded-corner-5px {
    border-radius: 5px;
}
.rounded-corner-10px {
    border-radius: 10px;
}
.ellipsed {
    border-radius: 25px;
}
.ovalled {
    border-radius: 50%;
}
.backgrounded {
    padding: 0.5rem;
}
.cursored {
    cursor: pointer;
}
.grided {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.flexed {
    display: flex;
    flex-wrap: wrap;
}
.flexed-no-wrap {
    display: flex;
    flex-wrap: nowrap;
}
.flexed.flexed-in-a-flexed {
    width: auto;
}
.flexed-autoed {
    flex: auto;
}
.flex-min-content {
    flex: min-content;
}
.flexed-inlined {
    display: inline-flex;
    flex-wrap: wrap;
}
.flexed-inlined-no-wrap {
    display: inline-flex;
    flex-wrap: nowrap;
}
.inline-blocked {
    display: inline-block;
}
.inlined {
    display: inline;
}
.blocked {
    display: block;
}
.width-autoed {
    width: auto;
}
.width-100pc {
    width: 100%;
}
.height-autoed {
    height: auto;
}
.height-100pc {
    height: 100%;
}
.underlined,  a.underlined {
    text-decoration: underline;
}
.line-throughed {
    text-decoration: line-through;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}
.align-items-flex-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: end;
}
.align-items-flex-end {
    align-items: flex-end;
}
.align-items-initial {
    align-items: initial;
}
.align-items-baseline {
    align-items: baseline;
}
.align-content-stretch {
    align-content: stretch;
}
.align-content-center {
    align-content: center;
}
.align-content-flex-start {
    align-content: flex-start;
}
.align-content-flex-end {
    align-content: flex-end;
}
.align-content-initial {
    align-content: initial;
}
.align-content-space-between {
    align-content: space-between;
}
.align-content-space-around {
    align-content: space-around;
}
.align-content-space-evenly {
    align-content: space-evenly;
}
.justify-items-normal {
    justify-items: normal;
}
.justify-items-stretch {
    justify-items: stretch;
}
.justify-items-center {
    justify-items: center;
}
.justify-items-left {
    justify-items: left;
}
.justify-items-right {
    justify-items: right;
}
.justify-items-start {
    justify-items: start;
}
.justify-items-end {
    justify-items: end;
}
.justify-items-initial {
    justify-items: initial;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-flex-start {
    justify-content: flex-start;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.justify-content-initial {
    justify-content: initial;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.place-items-normal {
    place-items: normal;
}
.place-items-stretch {
    place-items: stretch;
}
.place-items-start {
    place-items: start;
}
.place-items-end {
    place-items: end;
}
.place-items-center {
    place-items: center;
}
.place-items-baseline {
    place-items: baseline;
}
.place-content-normal {
    place-content: normal;
}
.place-content-stretch {
    place-content: stretch;
}
.place-content-start {
    place-content: start;
}
.place-content-end {
    place-content: end;
}
.place-content-center {
    place-content: center;
}
.place-content-space-between {
    place-content: space-between;
}
.place-content-space-around {
    place-content: space-around;
}
.place-content-space-evenly {
    place-content: space-evenly;
}
.gap-zero {
    gap: 0;
}
.gap-5px {
    gap: 5px;
}
.gap-10px {
    gap: 10px;
}
.gap-15px {
    gap: 15px;
}
.gap-20px {
    gap: 20px;
}
.gap-25px {
    gap: 25px;
}
.gap-30px {
    gap: 30px;
}
.gap-50px {
    gap: 50px;
}
.row-gap-zero {
    row-gap: 0;
}
.row-gap-5px {
    row-gap: 5px;
}
.row-gap-10px {
    row-gap: 10px;
}
.row-gap-15px {
    row-gap: 15px;
}
.row-gap-20px {
    row-gap: 20px;
}
.row-gap-25px {
    row-gap: 25px;
}
.row-gap-30px {
    row-gap: 30px;
}
.row-gap-50px {
    row-gap: 50px;
}
.column-gap-zero {
    column-gap: 0;
}
.column-gap-5px {
    column-gap: 5px;
}
.column-gap-10px {
    column-gap: 10px;
}
.column-gap-15px {
    column-gap: 15px;
}
.column-gap-20px {
    column-gap: 20px;
}
.column-gap-25px {
    column-gap: 25px;
}
.column-gap-30px {
    column-gap: 30px;
}
.column-gap-50px {
    column-gap: 50px;
}
.clear_min {
    clear: both !important;
    height: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.noned {
    display: none;
}
.productiveminds_ajax_error_container {
    margin: 0;
}
.productiveminds_ajax_error_container.bordered-left-error, .productiveminds_ajax_error_container.bordered-left-success, .productiveminds_ajax_error_container.bordered-left-info, .productiveminds_ajax_error_container.bordered-left-warning, .productiveminds_ajax_error_container.bordered-left-none {
    margin: 1rem;
}
.bordered-left-error {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-left: 5px solid var(--red) !important;
}
.bordered-left-success {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-left: 5px solid var(--green) !important;
}
.bordered-left-info {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-left: 5px solid var(--blue) !important;
}
.bordered-left-warning {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-left: 5px solid var(--yellow) !important;
}
.bordered-left-none {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border-left: none;
}
.outline-full-error {
    outline-style: inset;
    outline: var(--red) solid 2px !important;
}
.outline-full-success {
    outline-style: inset;
    outline: var(--green) solid 2px !important;
}
.outline-full-info {
    outline-style: inset;
    outline: var(--blue) solid 2px !important;
}
.outline-full-warning {
    outline-style: inset;
    outline: var(--yellow) solid 2px !important;
}
.outline-full-none {
    background: none;
}
.required-field-asterik {
    color: var(--red);
}
.bordered-top-dotted {
    border-top: 1px dotted var(--lightgrey);
}
.productiveminds_is_clickable {
    opacity: 1.0;
    cursor: pointer !important;
}
.productiveminds_is_not_clickable {
    opacity: 0.5;
    cursor: not-allowed !important;
}
.productiveminds-mini-grid-box {
    padding: 1rem;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--lightblue_bg_and_border);
}
.productiveminds-mini-grid-box.pro {
    background: var(--lightergrey);
}
.productiveminds-mini-grid-box.pro:hover {
    background: var(--lightgreen_bg);
}
.productiveminds-mini-grid-box.pro:hover a.pro-notice {
    background: var(--productive_admin_link_blue);
}
.productiveminds-mini-grid-box.limited {
    background: var(--lightergrey);
}
.productiveminds-mini-grid-box.limited:hover {
    background: var(--lightgreen_bg);
}
.productiveminds-mini-grid-box.limited:hover a.pro-notice {
    background: var(--productive_admin_link_blue);
}

.fs-xl, a.fs-xl {
    font-size: var(--fs-xl);
}
.fs-l, a.fs-l {
    font-size: var(--fs-l);
}
.fs-normal, a.fs-normal {
    font-size: var(--fs-normal);
}
.fs-s, a.fs-s {
    font-size: var(--fs-s);
}
.fs-xs, a.fs-xs {
    font-size: var(--fs-xs);
}
.white {
    color: var(--white);
    fill: var(--white);
}
.black {
    color: var(--black);
    fill: var(--black);
}
.blue {
    color: var(--blue);
    fill: var(--blue);
}
.green {
    color: var(--green);
    fill: var(--green);
}
.red {
    color: var(--red);
    fill: var(--red);
}
.darkgreen {
    color: var(--darkgreen);
    fill: var(--darkgreen);
}
.lightgrey {
    color: var(--lightgrey);
    fill: var(--lightgrey);
}
.brown {
    color: var(--brown);
    fill: var(--brown);
}
.darkbrown {
    color: var(--darkbrown);
    fill: var(--darkbrown);
}
.grey {
    color: var(--grey);
    fill: var(--grey);
}
.darkgrey {
    color: var(--darkgrey);
    fill: var(--darkgrey);
}
.lightblue {
    color: var(--lightblue);
    fill: var(--darkgrey);
}
.lightblue-bg {
    background: var(--lightblue);
}
.lightblueV2-bg {
    background: var(--lightblueV2);
}
.lightgrey-bg {
    background: var(--lightgrey);
}
.lightergrey-bg {
    background: var(--lightergrey);
}
.no-bg {
    background: transparent !important;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.text_align_left {
    text-align: left;
}
.text_align_right {
    text-align: right;
}
.fontWeight_100 {
    font-weight: var(--fontWeight_100);
}
.fontWeight_200 {
    font-weight: var(--fontWeight_200);
}
.fontWeight_300 {
    font-weight: var(--fontWeight_300);
}
.fontWeight_400 {
    font-weight: var(--fontWeight_400);
}
.fontWeight_500 {
    font-weight: var(--fontWeight_500);
}
.fontWeight_600 {
    font-weight: var(--fontWeight_600);
}
.fontWeight_700 {
    font-weight: var(--fontWeight_700);
}
.fontWeight_800 {
    font-weight: var(--fontWeight_800);
}
.fontWeight_900 {
    font-weight: var(--fontWeight_900);
}
.margin-zero, h1.margin-zero, h2.margin-zero, h3.margin-zero, h4.margin-zero, h5.margin-zero, h6.margin-zero {
    margin: 0;
}
.admin-style {
    margin-right: 0;
}
