#ast-block-templates-button-wrap {
    display: none !important;
}

/*Reset Default Blocks Gap*/
body.editor-styles-wrapper .wp-site-blocks > * {
    margin-block-start: 0;
}

/*Transparent & Sticky Header [bk-header-transparent] [bk-header-sticky]*/
.bk-header-sticky {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.bk-header-sticky {
  position: fixed !important;
}

/*Banner Section*/
.banner-section{
  position: relative;
  overflow: hidden;
}
.banner-section:before, .banner-section:after {
  content: '';
  width: 80%;
  height: 90%;
  background: linear-gradient(104.99deg, var(--wp--preset--color--tertiary) 3.81%, var(--wp--preset--color--primary) 77.2%);
  clip-path: polygon( 0% 16.736%,0% 99.917%,99.941% 99.917%,99.941% 99.917%,99.274% 98.149%,97.382% 93.262%,94.431% 85.879%,90.586% 76.624%,86.011% 66.121%,80.871% 54.995%,75.331% 43.87%,69.557% 33.369%,63.712% 24.116%,57.963% 16.736%,57.963% 16.736%,54.041% 12.573%,50.333% 9.019%,46.777% 6.067%,43.314% 3.708%,39.881% 1.934%,36.419% 0.736%,32.867% 0.108%,29.164% 0.04%,25.248% 0.523%,21.06% 1.551%,21.06% 1.551%,18.42% 2.588%,15.629% 4.098%,12.789% 5.942%,10.001% 7.985%,7.365% 10.088%,4.982% 12.116%,2.954% 13.932%,1.38% 15.399%,0.362% 16.379%,0% 16.736% );
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 2;
}
.banner-section:after {
  height: 94%;
  width: 75%;
  z-index: 1;
  clip-path: polygon( 0% 16.634%,0% 100%,99.92% 100%,99.92% 100%,99.254% 98.177%,97.365% 93.148%,94.418% 85.573%,90.577% 76.11%,86.006% 65.419%,80.87% 54.161%,75.332% 42.993%,69.556% 32.577%,63.708% 23.571%,57.95% 16.634%,57.95% 16.634%,53.973% 12.741%,50.233% 9.341%,46.665% 6.448%,43.204% 4.074%,39.786% 2.23%,36.345% 0.93%,32.816% 0.186%,29.135% 0.011%,25.237% 0.417%,21.056% 1.416%,21.056% 1.416%,18.416% 2.455%,15.626% 3.968%,12.786% 5.816%,9.999% 7.863%,7.364% 9.972%,4.981% 12.004%,2.953% 13.824%,1.38% 15.294%,0.362% 16.276%,0% 16.634% );
  background: linear-gradient(100.4deg, var(--wp--preset--color--secondary) 2.5%, var(--wp--preset--color--quaternary) 56.44%);
}
.banner-section .banner-content {
  position: relative;
  z-index: 99;
  max-width: 75%;
}
.banner-section img {
  width: 100%;
  position: relative;
  z-index: 99;
}
.banner-section figure {
  position: relative;
  z-index: 99;
}
.banner-section figure:after {
  content: '';
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background: linear-gradient(100.4deg, var(--wp--preset--color--secondary) 2.5%, var(--wp--preset--color--quaternary) 56.44%);
  position: absolute;
  left: -30px;
  bottom: -405px;
  z-index: 9;
}

.service-section .service-box {
  padding-left: 30px !important;
  padding-right: 30px !important;
  box-shadow: 0px 0px 4px 0px #00000040;
}
.service-section .service-box figure {
  position: relative;
  margin-top: -100px;
  z-index: 9;
  width: 80px;
  height: 80px;
  background: radial-gradient(50% 50% at 50% 50%, var(--wp--preset--color--primary) 0%, var(--wp--preset--color--tertiary) 100%);
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin-bottom: 30px;
}
.service-section .service-box figure img {
  transform: rotate(-45deg);
}
.service-section .service-box:hover figure {
  background: radial-gradient(50% 50% at 50% 50%, var(--wp--preset--color--quaternary) 0%, var(--wp--preset--color--secondary) 100%);
}
.service-section .service-box:hover h5 {
  color: var(--wp--preset--color--secondary) !important;
}
.service-section .service-box h5:after {
  content: '';
  width: 60%;
  height: 3px;
  background-color: var(--wp--preset--color--primary);
  display: block;
  margin: 10px auto 0;
  border-radius: 30px;
}
.service-section .service-box:hover h5:after {
  background-color: var(--wp--preset--color--quaternary);
}